<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>陕西省图书馆</string>
	<string>兴平市图书馆</string>
	<string>华阴市图书馆</string>
	<string>三原县图书馆</string>
	<string>乾县图书馆</string>
	<string>咸阳图书馆</string>
	<string>彬县图书馆</string>
	<string>旬邑县图书馆</string>
	<string>永寿县图书馆</string>
	<string>泾阳县图书馆</string>
	<string>淳化县图书馆</string>
	<string>礼泉县图书馆</string>
	<string>长武县图书馆</string>
	<string>商州区少儿馆</string>
	<string>柞水县图书馆</string>
	<string>洛南县图书馆</string>
	<string>安康市图书馆</string>
	<string>宁陕县图书馆</string>
	<string>旬阳县图书馆</string>
	<string>汉滨区图书馆</string>
	<string>白河县图书馆</string>
	<string>石泉县图书馆</string>
	<string>丹凤县图书馆</string>
	<string>凤翔县图书馆</string>
	<string>千阳县图书馆</string>
	<string>太白县图书馆</string>
	<string>岐山县图书馆</string>
	<string>扶风县图书馆</string>
	<string>渭滨区图书馆</string>
	<string>眉县图书馆</string>
	<string>金台区图书馆</string>
	<string>陇县图书馆</string>
	<string>陈仓区图书馆</string>
	<string>麟游县图书馆</string>
	<string>吴起县图书馆</string>
	<string>子长县图书馆</string>
	<string>安塞县图书馆</string>
	<string>宜川县图书馆</string>
	<string>宝塔区图书馆</string>
	<string>延川县图书馆</string>
	<string>志丹县图书馆</string>
	<string>甘泉县图书馆</string>
	<string>黄陵县图书馆</string>
	<string>佳县图书馆</string>
	<string>定边县图书馆</string>
	<string>府谷县图书馆</string>
	<string>神木县图书馆</string>
	<string>绥德县图书馆</string>
	<string>佛坪县图书馆</string>
	<string>勉县图书馆</string>
	<string>南郑县图书馆</string>
	<string>城固县图书馆</string>
	<string>汉台区图书馆</string>
	<string>洋县图书馆</string>
	<string>西乡县图书馆</string>
	<string>临渭区图书馆</string>
	<string>华县图书馆</string>
	<string>合阳县图书馆</string>
	<string>大荔县图书馆</string>
	<string>富平县图书馆</string>
	<string>澄城县图书馆</string>
	<string>西大街图书分馆</string>
	<string>临潼区图书馆</string>
	<string>户县图书馆</string>
	<string>灞桥区图书馆</string>
	<string>蓝田县图书馆</string>
	<string>长安区图书馆</string>
	<string>高陵县图书馆</string>
	<string>印台区图书馆</string>
	<string>铜川市图书馆</string>
	<string>宜君县图书馆</string>
	<string>王益区图书馆</string>
	<string>耀州区图书馆</string>
	<string>韩城市图书馆</string>
</array>
</plist>
