<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>amountType</key>
		<string>account</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>sheet</string>
		<key>hotSearch</key>
		<array>
			<integer>3</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<integer>4564</integer>
		<key>schoolName</key>
		<string>陕西省图书馆</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://1.85.33.163/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>account</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>sheet</string>
		<key>hotSearch</key>
		<array>
			<integer>0</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>1</integer>
		<key>schoolId</key>
		<integer>63</integer>
		<key>schoolName</key>
		<string>西安交通大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>title</string>
			<string>title</string>
		</array>
		<key>urlString</key>
		<string>http://202.117.24.31/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>num</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>table</string>
		<key>hotSearch</key>
		<array>
			<integer>3</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>2</integer>
		<key>schoolId</key>
		<integer>739</integer>
		<key>schoolName</key>
		<string>西北工业大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://202.117.88.170:8080/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>num</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>table</string>
		<key>hotSearch</key>
		<array>
			<integer>0</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<integer>1065</integer>
		<key>schoolName</key>
		<string>西安电子科技大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://202.117.122.3:8080/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>num</string>
		<key>areadId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>table</string>
		<key>hotSearch</key>
		<array>
			<integer>3</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>2</integer>
		<key>schoolId</key>
		<string>30900</string>
		<key>schoolName</key>
		<string>西北农林科技大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://210.27.80.32/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>account</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>sheet</string>
		<key>hotSearch</key>
		<array>
			<integer>0</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>2</integer>
		<key>schoolId</key>
		<integer>25</integer>
		<key>schoolName</key>
		<string>西北大学</string>
		<key>searchtype</key>
		<array>
			<string>TITLE</string>
			<string>AUTHOR</string>
			<string>SUBJECT</string>
		</array>
		<key>urlString</key>
		<string>http://219.245.11.5:8081/search</string>
		<key>xc</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>num</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>table</string>
		<key>hotSearch</key>
		<array>
			<integer>3</integer>
			<string>cover</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<integer>318</integer>
		<key>schoolName</key>
		<string>长安大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://202.117.71.188:8080/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>account</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>sheet</string>
		<key>hotSearch</key>
		<array>
			<integer>3</integer>
			<string>height</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<integer>853</integer>
		<key>schoolName</key>
		<string>西安理工大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://202.200.117.15:8081/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>account</string>
		<key>areaId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>sheet</string>
		<key>hotSearch</key>
		<array>
			<integer>4</integer>
			<string>height</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<integer>1112</integer>
		<key>schoolName</key>
		<string>西安邮电大学</string>
		<key>searchtype</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>urlString</key>
		<string>http://222.24.3.15/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>account</string>
		<key>areadId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>sheet</string>
		<key>hotSearch</key>
		<array>
			<integer>0</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<string>30885</string>
		<key>schoolName</key>
		<string>陕西科技大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://222.24.94.247:8080/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>amountType</key>
		<string>num</string>
		<key>areadId</key>
		<integer>274</integer>
		<key>contentType</key>
		<string>table</string>
		<key>hotSearch</key>
		<array>
			<integer>3</integer>
			<string>title</string>
		</array>
		<key>listType</key>
		<integer>3</integer>
		<key>schoolId</key>
		<string>30914</string>
		<key>schoolName</key>
		<string>西安建筑科技大学</string>
		<key>searchtype</key>
		<array>
			<string>title</string>
			<string>author</string>
			<string>subject</string>
		</array>
		<key>urlString</key>
		<string>http://202.200.151.18/search</string>
		<key>xc</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
