<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array>
		<string>亚马逊图书</string>
		<string>京东图书</string>
		<string>当当图书</string>
	</array>
	<array>
		<string>小说</string>
		<string>外国文学</string>
		<string>文学</string>
		<string>随笔</string>
		<string>中国文学</string>
		<string>经典</string>
		<string>散文</string>
		<string>日本文学</string>
		<string>村上春树</string>
		<string>童话</string>
		<string>诗歌</string>
		<string>杂文</string>
		<string>王小波</string>
		<string>儿童文学</string>
		<string>张爱玲</string>
		<string>古典文学</string>
		<string>余华</string>
		<string>名著</string>
		<string>钱钟书</string>
		<string>当代文学</string>
		<string>鲁迅</string>
		<string>外国名著</string>
		<string>诗词</string>
		<string>茨威格</string>
		<string>米兰·昆德拉</string>
		<string>杜拉斯</string>
		<string>港台</string>
	</array>
	<array>
		<string>漫画</string>
		<string>绘本</string>
		<string>推理</string>
		<string>青春</string>
		<string>言情</string>
		<string>科幻</string>
		<string>东野圭吾</string>
		<string>悬疑</string>
		<string>武侠</string>
		<string>韩寒</string>
		<string>奇幻</string>
		<string>日本漫画</string>
		<string>耽美</string>
		<string>亦舒</string>
		<string>三毛</string>
		<string>安妮宝贝</string>
		<string>网络小说</string>
		<string>郭敬明</string>
		<string>推理小说</string>
		<string>穿越</string>
		<string>金庸</string>
		<string>轻小说</string>
		<string>几米</string>
		<string>阿加莎·克里斯蒂</string>
		<string>张小娴</string>
		<string>幾米</string>
		<string>魔幻</string>
		<string>青春文学</string>
		<string>J.K.罗琳</string>
		<string>科幻小说</string>
		<string>高木直子</string>
		<string>古龙</string>
		<string>沧月</string>
		<string>落落</string>
		<string>张悦然</string>
		<string>蔡康永</string>
	</array>
	<array>
		<string>历史</string>
		<string>心理学</string>
		<string>哲学</string>
		<string>传记</string>
		<string>文化</string>
		<string>社会学</string>
		<string>艺术</string>
		<string>设计</string>
		<string>政治</string>
		<string>社会</string>
		<string>建筑</string>
		<string>宗教</string>
		<string>电影</string>
		<string>数学</string>
		<string>政治学</string>
		<string>回忆录</string>
		<string>思想</string>
		<string>中国历史</string>
		<string>国学</string>
		<string>音乐</string>
		<string>人文</string>
		<string>戏剧</string>
		<string>人物传记</string>
		<string>绘画</string>
		<string>艺术史</string>
		<string>佛教</string>
		<string>军事</string>
		<string>西方哲学</string>
		<string>近代史</string>
		<string>二战</string>
		<string>自由主义</string>
		<string>考古</string>
		<string>美术</string>
	</array>
	<array>
		<string>爱情</string>
		<string>旅行</string>
		<string>生活</string>
		<string>励志</string>
		<string>成长</string>
		<string>心理</string>
		<string>摄影</string>
		<string>女性</string>
		<string>职场</string>
		<string>美食</string>
		<string>教育</string>
		<string>游记</string>
		<string>灵修</string>
		<string>情感</string>
		<string>健康</string>
		<string>手工</string>
		<string>养生</string>
		<string>两性</string>
		<string>人际关系</string>
		<string>家居</string>
		<string>自助游</string>
	</array>
	<array>
		<string>经济学</string>
		<string>管理</string>
		<string>经济</string>
		<string>金融</string>
		<string>商业</string>
		<string>投资</string>
		<string>营销</string>
		<string>创业</string>
		<string>理财</string>
		<string>广告</string>
		<string>股票</string>
		<string>企业史</string>
		<string>策划</string>
	</array>
	<array>
		<string>科普</string>
		<string>互联网</string>
		<string>编程</string>
		<string>科学</string>
		<string>交互设计</string>
		<string>用户体验</string>
		<string>算法</string>
		<string>web</string>
		<string>科技</string>
		<string>UE</string>
		<string>通信</string>
		<string>交互</string>
		<string>UCD</string>
		<string>神经网络</string>
		<string>程序</string>
	</array>
</array>
</plist>
